@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=sway");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}