@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=sway');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main > h1 {
  color: #646464;
  font-weight: bold;
  text-shadow: 1px 1px #ffffff;
  font-size: 55px;
}

.budget-container {
  height: 85%;
  width: 85%;
  box-shadow: #00000059 0px 5px 15px;
  border-radius: 20px;
  background-color: #ffffff99;
  padding: 40px;
}

.add-budget-container, .add-expense-container {
    box-shadow: #ffffff62 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff83;
}

.display-container {
    box-shadow: #ffffff62 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff83;
    width: 65%;
}
